{% extends "base.html" %}

{% block content %}

<div class="container justify-content-center my-3">
    <ul class="nav nav-underline justify-content-center bg-info-subtle p-3">
        <li class="nav-item mr-3">
            <a class="nav-link text-dark-emphasis " href="/">Home</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link text-dark-emphasis" href="/student_management">Students Management</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link text-dark-emphasis" href="/employee-management">Employee Management</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link text-dark-emphasis" href="/stock-management">Stock Management</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link active" href="/about-us/">About Us</a>
        </li>
    </ul>
</div>

{% endblock %}